<table style="width: 100%; padding: 45px 35px; box-sizing: border-box; background-color: azure">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            Don't worry, your password is under full control!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                If you want to change your password, please click link below
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <a href="{{frontUrl}}/restore-password/{{actionToken}}">RESTORE</a>
        </td>
    </tr>
</table>